.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #181818;
  color: #ffffff;
}

.h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
}

.strong {
  font-size: 6rem;
  font-weight: 700;
}

.p {
  margin: 0;
  font-size: 3rem;
  font-weight: 400;
  position: absolute;
  bottom: 2.5rem;
  right: 2.5rem;
}

@media screen and (max-width: 375px) {
  .h1 {
    font-size: 1rem;
  }

  .strong {
    font-size: 5rem;
  }

  .p {
    font-size: 2rem;
  }
}